@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Rejoingnez nous , postuler en 1min.</p>

    <!-- Ajoutez ici d'autres éléments, du contenu ou des liens selon vos besoins. -->
</div>
