@{
    ViewData["Title"] = "Confirmation";
}

<div>
    <h2>Merci de votre candidature !</h2>
    <p>Votre candidature a été enregistrée avec succès. Nous vous contacterons bientôt.</p>
 </div>